{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des Etudiants! ✅</h1>

    <a href="{{path("add_etudiants")}}"> Ajouter des Etudiants</a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">name</th>
            <th scope="col">Section</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% set colors=["primary", "danger", "secondary", "success", "warning", "info"]%}
        {%for p in list%}
            <tr class="table-{{ colors[loop.index%6] }}">
                <td>{{ p.prenom }}</td>
                <td>{{ p.nom }}</td>
                <td>{%if p.section%}{{ p.section.designation }}
                {%else%} Etudiant non encore affecté à une section
                    {%endif%}</td>
                <td><a href="{{path("add_etudiants", {"id":p.id})}}">Edit</a> <a href="{{path("delete_etudiant", {"id":p.id})}}">delete</a> </td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
{{  parent() }}
    <script rel="script" src="{{asset("script.js")}}"></script>
{% endblock %}

{% block stylesheets%}
{{ parent() }}
<link rel="stylesheet" href="{{asset('style.css')}}">
{% endblock %}

